# @font-face {
#   font-family: myFirstFont;
#   src: url(sansation_bold.woff);
#   font-weight: bold;
# }

# @font-face {
#     font-family: NSFake;
#     src: url(../assets/Fonts/Frutiger-Roman.ttf);
# }

/Fonts